@font-face {
  font-family: d;
  src: url(./Assets/fonts/D-DIN.woff2);
}

@font-face {
  font-family: db;
  src: url(./Assets/fonts/D-DIN-Bold.woff2);
}

@font-face {
  font-family: pp;
  src: url(./Assets/fonts/659dbdfd5a080be8d348316f_PPNeueMachina_\ Light.woff);
}

@font-face {
  font-family: neuem;
  src: url(./Assets/fonts/neuedisplaymed.woff);
}

@font-face {
  font-family: neueb;
  src: url(./Assets/fonts/neuedisplaybold.woff);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: neuem;
  color: #fff;
}

html,
body {
  height: 100%;
  width: 100%;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.d-flex-c {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

#loader {
  height: 100%;
  width: 100%;
  background-color: #000000;
  z-index: 999;
  position: absolute;
}

#loader-texts {
  height: 100%;
  width: 100%;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: start;
  gap: 2.5vw;
  padding: 1vw;
  font-size: 1.6rem;
  position: absolute;
}

.text-loader {
  opacity: 0;
}

.text-27 {
  margin-left: 13vw;
}

.text-54 {
  margin-left: 13vw;
}

.text-97 {
  margin-left: 18vw;
  margin-right: 2vw;
}

.loading-p {
  height: 100%;
  width: 100%;
  font-size: 1.4rem;
  gap: 0.6vw;
  opacity: 0;
  position: absolute;
}

.center-p2 {
  margin-top: -1rem;
  margin-left: 5vw;
  opacity: 0;
}

.center-p2 svg {
  height: 3rem;
}

.c-scrollbar {
  width: 1px;
}

#nav {
  height: 60px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  color: #fff;
  z-index: 99;
  position: fixed;
  background-color: transparent;
  top: 0;
  padding: 0 3vw;
}

#nav-logo {
  background: transparent;
}

#nav-logo svg {
  height: 16px;
  background-color: transparent;
}

#nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-left: -6vw;
  gap: 2vw;
  background-color: transparent;
}

#nav-links a {
  text-decoration: none;
  background-color: transparent;
  font-size: 0.9rem;
}

#nav-links button {
  padding: 3px 10px;
  border: 2px solid #fff;
  font-size: 0.9rem;
}

#nav > i {
  display: none;
}

#super-main {
  background: #000;
}

#main {
  background-color: #000;
}

.video-div {
  -webkit-clip-path: circle(var(--clip) at 50% 50%);
  clip-path: circle(var(--clip) at 50% 50%);
  z-index: 3;
}

.video-div video {
  z-index: 3;
}

.video-content {
  position: absolute;
  z-index: 3;
  top: 18vw;
  left: 3vw;
  width: 39%;
}

.video-content h2 {
  font-size: 4.5vw;
  font-family: neueb;
  font-stretch: extra-condensed;
  line-height: 1;
  font-weight: 900;
  text-transform: uppercase;
}

.video-content p {
  font-size: 1.5vw;
  margin-top: 1.6vw;
}

.video-content h3 {
  margin-top: 1vw;
  font-family: db;
  font-size: 1.5vw;
}

.home-scroll {
  z-index: 3;
}

.text-content {
  width: 84%;
  font-size: 1rem;
  top: 13vw;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0 5vw;
}

.text-content p {
  background-color: transparent;
  width: 100%;
}

.home-content {
  position: absolute;
  top: 12vw;
  left: 2vw;
  width: 36%;
}

.home-content h2 {
  font-size: 3.2vw;
  font-family: neueb;
  font-stretch: extra-condensed;
  line-height: 1;
  font-weight: 900;
  text-transform: uppercase;
}

.home-content p {
  font-size: 1.2vw;
  margin: 1.6vw 0;
}

.home-content button {
  padding: 10px 30px;
  border: 2px solid #fff;
  text-transform: uppercase;
  background-color: transparent;
  font-family: db;
  font-weight: 900;
}

.bottom-text {
  position: absolute;
  bottom: 6%;
  width: 20%;
  left: 4%;
}

.bottom-text h1 {
  font-family: pp;
}

.home-container {
  z-index: 2;
  position: relative;
  width: 100%;
  height: 100vh;
}

.heading {
  position: absolute;
  width: 30%;
  text-align: center;
  top: 16%;
}

.heading h1 {
  font-size: 1.2rem;
  font-family: pp;
}

.marquee {
  position: absolute;
  top: 55%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100%;
  overflow: hidden;
  scale: 1;
}

.marquee .row {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 3rem;
  white-space: nowrap;
}

.marquee .row:nth-child(1) {
  -webkit-transform: translateX(-25%);
  -ms-transform: translateX(-25%);
  transform: translateX(-25%);
}

.marquee .row:nth-child(2) {
  -webkit-transform: translateX(-40%);
  -ms-transform: translateX(-40%);
  transform: translateX(-40%);
}

.marquee .row:nth-child(3) {
  -webkit-transform: translateX(-30%);
  -ms-transform: translateX(-30%);
  transform: translateX(-30%);
}

.marquee .row:nth-child(4) {
  -webkit-transform: translateX(-25%);
  -ms-transform: translateX(-25%);
  transform: translateX(-25%);
}

.marquee .row .elem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 2.5rem;
}

.marquee .row .elem h1 {
  font-size: 4rem;
  font-family: pp;
  line-height: 1.1;
}

.marquee .row .img-div {
  height: 3.6rem;
  width: 3.6rem;
  border-radius: 50%;
  overflow: hidden;
  background-color: #fff;
  margin-top: -10px;
}

.marquee .row .img-div img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}

#page2 {
  width: 100%;
  padding: 5vw 3vw;
  border-top: 1px solid #ffffff88;
  border-bottom: 1px solid #ffffff88;
}

#page2 h1 {
  font-family: pp;
  font-size: 5vw;
  line-height: 1.3;
}

#page2 h2 {
  font-family: pp;
  font-size: 3vw;
  line-height: 1.2;
}

.card-container {
  position: relative;
  width: 100%;
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 4vw;
}

.card {
  height: 44vw;
  width: 32%;
}

.card .card-img {
  height: 84%;
  width: 100%;
}

.card-img img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}

.card-overlay h3 {
  margin: 1vw 0 0.2vw 0;
}

#page3 {
  width: 100%;
  position: relative;
  border-bottom: 1px solid #ffffff88;
}

.page3-scroll {
  height: 100vh;
  width: 100%;
  position: relative;
}

.slides {
  display: inline-block;
  white-space: nowrap;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.slide {
  display: inline-block;
  white-space: nowrap;
  width: 100%;
  height: 100vh;
  margin-left: -4px;
  position: relative;
}

.slide1-text {
  position: absolute;
  top: 50%;
  left: 40%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.slide1-text h1 {
  font-size: 6vw;
  font-family: pp;
  line-height: 1;
}

.slide1-img {
  position: absolute;
  height: 20vw;
  width: 20vw;
  border-radius: 50%;
  overflow: hidden;
  right: 0;
  top: 50%;
  -webkit-transform: translate(0%, -50%);
  -ms-transform: translate(0%, -50%);
  transform: translate(0%, -50%);
  z-index: 3;
}

.slide1-img img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}

.slide2-text {
  font-family: pp;
  width: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.slide2-text h3 {
  width: 20vw;
  font-family: pp;
  line-height: 1;
  font-size: 1.5vw;
  position: absolute;
  top: -30%;
  white-space: normal;
}

.slide2-text h1 {
  font-size: 9vw;
  font-family: pp;
  line-height: 1;
}

.slide2-text h2 {
  font-family: pp;
  font-size: 2.5vw;
  line-height: 1;
}

.slide2-img {
  height: 12vw;
  width: 12vw;
  border-radius: 50%;
  overflow: hidden;
  position: absolute;
}

.slide2-img img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}

.slide .img1 {
  top: 40%;
  left: 16%;
}

.slide .img2 {
  bottom: 10%;
  left: 60%;
}

.slide .img3 {
  top: 14%;
  right: 16%;
}

.slide3-text {
  font-family: pp;
  width: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.slide3-text h3 {
  width: 20vw;
  font-family: pp;
  line-height: 1;
  font-size: 1.5vw;
  position: absolute;
  top: -30%;
  white-space: normal;
}

.slide3-text h1 {
  font-size: 9vw;
  font-family: pp;
  line-height: 1;
}

.slide3-text h2 {
  font-family: pp;
  font-size: 2.5vw;
  line-height: 1;
}

.slide3-img {
  height: 12vw;
  width: 12vw;
  border-radius: 50%;
  overflow: hidden;
  position: absolute;
}

.slide3-img img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}

.slide .s3img1 {
  top: 30%;
  left: 7%;
}

.slide .s3img2 {
  bottom: 6%;
  left: 60%;
}

.slide .s3img3 {
  top: 14%;
  right: 16%;
}

.slide4-text {
  font-family: pp;
  width: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.slide4-text h3 {
  width: 25vw;
  font-family: pp;
  line-height: 1;
  font-size: 1.3vw;
  position: absolute;
  top: -39%;
  left: -22%;
  white-space: normal;
}

.slide4-text h1 {
  font-size: 8vw;
  font-family: pp;
  line-height: 1;
}

.slide4-text h2 {
  font-family: pp;
  font-size: 2.5vw;
  line-height: 1;
}

.slide4-img {
  height: 12vw;
  width: 12vw;
  border-radius: 50%;
  overflow: hidden;
  position: absolute;
}

.slide4-img img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}

.slide .s4img1 {
  top: 39%;
  left: -5%;
  z-index: 3;
}

.slide .s4img2 {
  bottom: 10%;
  left: 50%;
  z-index: 3;
}

.slide .s4img3 {
  top: 14%;
  right: 16%;
}

.slide1-img,
.img1,
.img2,
.img3,
.s3img1,
.s3img2,
.s3img3,
.s4img1,
.s4img2,
.s4img3 {
  cursor: pointer;
}

#page4 {
  min-height: 100vh;
  width: 100%;
  padding: 5vw 12vw;
  border-bottom: 1px solid #ffffff88;
}

#page4-heading h1 {
  font-family: pp;
  font-size: 6vw;
  line-height: 1;
}

#launches {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 5vw;
}

.lleft {
  overflow: hidden;
  width: 52%;
  height: 84vh;
}

.lleftelm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  gap: 1vw;
  height: inherit;
}

.lleftelm h3 {
  font-size: 1.5vw;
}

.lleftelm h2 {
  font-size: 2.2vw;
  font-family: pp;
}

.lleftelm p {
  font-size: 1.2vw;
}

.lright {
  width: 41%;
  height: 84vh;
}

.limg {
  width: 100%;
  height: 100%;
}

.limg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: 30%;
  object-position: 30%;
}

#page5 {
  min-height: 100vh;
  width: 100%;
  padding: 5vw 3vw;
}

#page5 h1 {
  font-family: pp;
  font-size: 5vw;
  line-height: 1.3;
}

.vehicle-container {
  padding-top: 4vw;
}

.vehicle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative;
  margin-bottom: 5vw;
}

.vehicle-content {
  width: 40%;
}

.vehicle-content h3 {
  font-size: 3vw;
  line-height: 1;
}

.vehicle-content p {
  margin: 2vw 0;
}

.vehicle-content button {
  border: 2px solid #fff;
  padding: 6px 20px;
}

.vehicle-media {
  width: 50%;
}

.vehicle-media img,
video {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}

.vehicle .text-right {
  right: 5%;
  text-align: left;
}

.starship-img img {
  width: 80%;
}

#page6 {
  width: 100%;
  position: relative;
  padding: 5vw 3vw;
  border-top: 1px solid #ffffff88;
}

#page6 > h1 {
  font-size: 6vw;
  line-height: 1;
  font-family: pp;
  margin-bottom: 5vw;
}

.executive {
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 2vw 1vw 2vw 0;
  border-top: 1px solid #ffffff88;
  cursor: pointer;
}

.executive:nth-last-child(1) {
  border-bottom: 1px solid #ffffff88;
}

.executive > h1 {
  font-size: 3vw;
  font-family: pp;
  color: #ffffffa1;
}

.executive h5 {
  color: #ffffffa1;
}

.exe-img {
  height: 17vw;
  width: 23vw;
  z-index: 999;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  opacity: 0;
  pointer-events: none;
}

.exe-img img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

#footer {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  position: relative;
  padding: 3vw;
}

.fpart1 {
  width: 100%;
  padding-bottom: 3vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.fpart1 svg {
  height: 4vw;
}

.fpart1 > h3 {
  font-size: 4vw;
  font-family: pp;
  line-height: 1;
}

.fpart2 {
  padding: 3vw 0;
  border-top: 1px solid #ffffff88;
  border-bottom: 1px solid #ffffff88;
  display: -ms-grid;
  display: grid;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  -ms-grid-columns: 1fr 16px 4fr 16px 1fr;
  grid-template-columns: 1fr 4fr 1fr;
  grid-auto-columns: 1fr;
}

.fpart2 > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.fpart2 > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.fpart2 > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}

.foot-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.foot-links:nth-child(3) {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.foot-links a {
  font-size: 1.9vw;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
}

.foot-email > h5 {
  font-size: 2.4vw;
  line-height: 1;
  margin-bottom: 2vw;
  text-align: center;
}

.foot-email .email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 2vw;
}

.foot-email .email input {
  padding: 10px 70px 10px 10px;
  outline: none;
  color: #000;
}

.email input::-webkit-input-placeholder {
  color: #000;
}

.email input::-moz-placeholder {
  color: #000;
}

.email input:-ms-input-placeholder {
  color: #000;
}

.email input::-ms-input-placeholder {
  color: #000;
}

.email input::placeholder {
  color: #000;
}

.foot-email .email button {
  background-color: #fff;
  color: #000;
  padding: 9px 20px;
  font-weight: 600;
}

.email button i {
  color: #000;
}

.fpart3 {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 3vw;
}

.terms {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 2vw;
  width: 33%;
}

.terms a {
  font-size: 1vw;
}

.fpart3 > h4 {
  font-size: 1vw;
  width: 33%;
  text-align: center;
}

.social {
  width: 33%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: end;
  gap: 1.5vw;
}

.social a {
  font-size: 1.8vw;
}

button {
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

button:hover {
  color: #000;
  background-color: #fff;
}

a {
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

a:hover {
  color: #ffffff9c;
}

a:hover i {
  color: #ffffff9c;
}

@media screen and (max-width: 950px) {
  .text-27,
  .text-54 {
    margin-left: 9vw;
  }

  .text-97 {
    margin-left: 13vw;
  }

  .video-content {
    top: 25vw;
  }

  .video-content p,
  .video-content h3 {
    font-size: 2vw;
  }

  .bottom-text {
    width: 27%;
  }

  .lleftelm h3 {
    font-size: 1.8vw;
  }

  .lleftelm h2 {
    font-size: 2.5vw;
  }

  .lleftelm p {
    font-size: 1.5vw;
  }

  .lleftelm,
  .limg {
    height: 90%;
  }

  .fpart2 {
    padding: 6vw 0;
  }

  .foot-email > h5 {
    font-size: 3vw;
  }

  .terms a {
    font-size: 1.4vw;
  }

  .fpart3 h4 {
    font-size: 1.4vw;
  }

  .social a {
    font-size: 2.3vw;
  }
}

@media screen and (max-width: 768px) {
  #loader {
    display: none;
  }

  .text-27,
  .text-54 {
    margin-left: 6vw;
  }

  .text-97 {
    margin-left: 9vw;
  }

  #nav-links {
    display: none;
  }

  #nav > i {
    display: block;
    font-size: 3vw;
  }

  .video-content {
    top: 32vw;
    width: 50%;
  }

  .video-content h2 {
    font-size: 5vw;
  }

  .video-content p,
  .video-content h3 {
    font-size: 2.4vw;
  }

  .marquee .row .img-div {
    height: 3rem;
    width: 3rem;
  }

  .marquee .row .elem h1 {
    font-size: 3rem;
  }

  .bottom-text {
    width: 32%;
    text-align: center;
    left: 33%;
  }

  #page2 h1,
  #page2 h2 {
    text-align: center;
  }

  .card-container {
    margin-top: 7vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .card {
    width: 75%;
    height: 90vh;
  }

  .slide1-img {
    height: 30vw;
    width: 30vw;
  }

  .slide2-img,
  .slide3-img {
    height: 20vw;
    width: 20vw;
  }

  .slide2-text h3,
  .slide3-text h3,
  .slide4-text h3 {
    font-size: 2vw;
    width: 30vw;
    top: -45%;
  }

  .slide .img1 {
    top: 49%;
    left: 10%;
  }

  .slide2-text h1,
  .slide3-text h1,
  .slide4-text h1 {
    font-size: 10vw;
  }

  .slide2-text h2 {
    font-size: 3.5vw;
  }

  .slide4-text h3 {
    top: -85%;
  }

  #page4-heading {
    text-align: center;
  }

  #launches {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }

  .lleft,
  .lright {
    width: 100%;
    margin-top: 3vw;
  }

  .lleft {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }

  .lleftelm {
    padding: 4vw 0;
  }

  .lleftelm h3 {
    font-size: 2.7vw;
  }

  .lleftelm h2 {
    font-size: 4vw;
  }

  .lleftelm p {
    font-size: 2.2vw;
  }

  .a {
    display: none;
  }

  .lright .limg {
    height: 100%;
  }

  .lright .limg img {
    height: 100%;
  }

  #page5 > h1 {
    text-align: center;
    font-size: 6vw;
  }

  .vehicle-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 7vw;
    padding-top: 10vw;
  }

  .vehicle {
    width: 90%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 3vw;
  }

  .vehicle:nth-child(2) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }

  .vehicle-content {
    width: 100%;
  }

  .vehicle-content h3 {
    font-size: 4vw;
  }

  .vehicle-content p {
    font-size: 2.5vw;
  }

  .vehicle-media {
    width: 100%;
  }

  #page6 > h1 {
    font-size: 8vw;
    text-align: center;
  }

  .executive {
    padding: 4vw 1vw 4vw 0;
  }

  .executive > h1 {
    font-size: 4vw;
  }

  .fpart1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    gap: 5vw;
  }

  .fpart2 {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr; /* Two equal columns */
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }

  .fpart2 > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }

  .fpart2 > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
  }

  .fpart2 > *:nth-child(3) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }

  .fpart2 > *:nth-child(4) {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
  }

  .foot-links {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / 3;
    gap: 1vw;
  }

  .foot-links:nth-child(3) {
    -ms-grid-column: 2;
    grid-column: 2 / 2;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / 3;
  }

  .foot-email {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / 3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / 2;
    margin-bottom: 4vw;
  }

  .foot-email > h5 {
    font-size: 3vw;
  }

  .foot-links a {
    font-size: 3vw;
  }

  .fpart3 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    gap: 4vw;
    padding-bottom: 4vw;
    border-bottom: 1px solid #ffffff88;
    margin-bottom: 5vw;
  }

  .social {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: start;
    gap: 4vw;
  }

  .social a {
    font-size: 5vw;
  }

  .fpart3 > h4 {
    text-align: left;
    font-size: 2vw;
  }

  .terms {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    gap: 0.6vw;
  }

  .terms a {
    font-size: 2vw;
  }
}

@media screen and (max-width: 600px) {
  .video-content {
    top: 36%;
    width: 63%;
  }

  .video-content h2 {
    font-size: 7vw;
  }

  .video-content p {
    font-size: 3.4vw;
  }

  .video-content h3 {
    font-size: 4vw;
  }

  .heading {
    width: 45%;
  }

  .bottom-text {
    width: 43%;
    left: 27%;
  }

  #page2 {
    padding: 10vw 3vw;
  }

  #page2 h1 {
    font-size: 7vw;
  }

  #page2 h2 {
    font-size: 3.5vw;
  }

  .card {
    width: 100%;
  }

  .card-overlay h3 {
    font-size: 5vw;
  }

  .card-overlay p {
    font-size: 3.5vw;
  }

  .slide1-text {
    left: 30%;
  }

  .slide1-text h1 {
    font-size: 7vw;
  }

  .slide1-img {
    height: 40vw;
    width: 40vw;
  }

  .slide2-img,
  .slide3-img {
    height: 30vw;
    width: 30vw;
  }

  .slide .img1 {
    top: 53%;
    left: 3%;
  }

  .slide .img2 {
    bottom: 13%;
    left: 61%;
  }

  .slide .img3 {
    top: 9%;
    right: 11%;
  }

  .slide2-text h3 {
    font-size: 3vw;
    width: 45vw;
    top: -84%;
    left: -10vw;
  }

  .slide .s3img1 {
    top: 5%;
    left: -4%;
  }

  .slide .s3img2 {
    bottom: 13%;
    left: 30%;
  }

  .slide .s3img3 {
    top: 20%;
    right: 13%;
  }

  .slide3-text {
    left: 44%;
  }

  .slide3-text h3 {
    font-size: 3vw;
    width: 43vw;
    top: -69%;
    left: -19vw;
  }

  .slide .s4img1 {
    top: 56%;
    left: 0%;
    z-index: 3;
  }

  .slide .s4img3 {
    top: 14%;
    right: 26%;
  }

  .slide4-text h3 {
    font-size: 2.3vw;
  }

  #page4 {
    padding: 10vw 3vw;
  }

  #page4-heading h1 {
    font-size: 9vw;
  }

  .lleftelm h3 {
    font-size: 3.7vw;
  }

  .lleftelm h2 {
    font-size: 5vw;
  }

  .lleftelm p {
    font-size: 3vw;
  }

  #page5 {
    padding: 10vw 3vw;
  }

  #page5 > h1 {
    font-size: 9vw;
  }

  .vehicle-container {
    gap: 11vw;
  }

  .vehicle {
    width: 100%;
    gap: 6vw;
  }

  .vehicle-content h3 {
    font-size: 6vw;
  }

  .vehicle-content p {
    font-size: 3vw;
    margin: 4vw 0;
  }

  #page6 {
    padding: 10vw 3vw;
  }

  #page6 > h1 {
    font-size: 9vw;
  }

  #footer {
    padding: 10vw 3vw;
  }

  .executive {
    padding: 6vw 1vw 6vw 0;
  }

  .executive > h1 {
    font-size: 5vw;
  }

  .fpart1 {
    gap: 7vw;
    padding-bottom: 7vw;
  }

  .fpart1 svg {
    height: 8vw;
  }

  .fpart1 h3 {
    font-size: 7.5vw;
  }

  .foot-email > h5 {
    font-size: 5vw;
    margin-bottom: 4vw;
  }

  .fpart2 {
    padding: 9vw 0;
  }

  .foot-links a {
    font-size: 4vw;
  }

  .social a {
    font-size: 7vw;
  }

  .fpart3 > h4 {
    font-size: 3vw;
  }

  .terms a {
    font-size: 2.5vw;
  }
}

@media screen and (max-width: 475px) {
  .email {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .foot-email .email input,
  button {
    width: 100%;
  }

  .heading {
    width: 52%;
  }

  .bottom-text {
    width: 48%;
    left: 25%;
  }

  .marquee .row {
    gap: 1rem;
  }

  .marquee .row .elem {
    gap: 1rem;
  }
}
